@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

#modal-container {
    background-color: rgba( 0 , 0 , 0 , 0.3);
    z-index: 10;
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

#modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

#modal {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba( 0 , 0 , 0 , 0.2) ;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}

/* MODAL ENQUANTO CARREDA DAS INFORMAÇÕES DA PÁGINA*/

#carregarFundo {
    position: absolute;
    position: fixed;
    background-color: rgba (0,0,0, 0.8);
    width: 100%;
    height: 100vh;
    display: none;
}

#carregando {
    border-radius: 10px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


footer nav ul li a {
    text-decoration: none;
}
